@use '../../styles';

li {
  width: 240px;
}
a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  line-height: 32px;
}
.chevron {
  float: right;
  height: 16px;
  margin-top: 8px;
}
a:hover, a:active {
  background-color: var(--main-link-shadow);
}
.link-text {
  display: inline-block;
}
